@font-face {
    font-family: "Raleway-Medium";
    src: url('/static/fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: "Ysabeau-Light";
    src: url('/static/fonts/Ysabeau/Ysabeau-Light.ttf');
}

@font-face {
    font-family: "Raleway-Light";
    src: url('/static/fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
    font-family: "Ysabeau-Medium";
    src: url('/static/fonts/Ysabeau/Ysabeau-Medium.ttf');
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url('/static/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Poppins-Bold";
    src: url('/static/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: "Poppins-Light";
    src: url('/static/fonts/Poppins/Poppins-Light.ttf');
}